# IST 652 Lab #2
### Instructions
- Complete all 5 questions in this assignment.
- You may work with others, <b> but the work you submit must be your own </b>. You can differentiate your work by adding comments or changing the values you use to test your code. However, submitting some else's work as your own is an academic integrity violation and will be raised to academic affairs.
- It is always better to attempt a problem as partial credit may be granted.


### Submission Guide:
- Submit your answers on BlackBoard by Monday 2022-02-14 at 5pm.
- The file must be either a .py or .ipynb file type.
- The name of the file should be <i> ist652_lab2_lastname.py (.ipynb) </i> .


### Grading [ 5 total points ]
For Each Question, the following credit will be awarded:
- 0.75 for printing the correct answer to the console.
- 0.15 for approaching the problem efficiently.
- 0.05 for properly documenting and commenting your code.

---
### Questions

#### ( 1 ) Given a list of non-empty tuples, write a sort expression that will sort in increasing order by the last element in each tuple.
for eample: 
- [(1, 7), (1, 3), (3, 4, 5), (2, 2)]

yields
- [(2, 2), (1, 3), (3, 4, 5), (1, 7)]


<b> 2 Examples </b>

Define at least two lists with tuples of different lengths and show the same sort expression executing against both lists.

##### [0.5 point]

In [4]:
# List #1
# Enter your code here, printing relevant answers to console:
L = [(7,1),(2, 0),(4,5,6,3,2),(1,1),(6,8,9),(1,1,2,7)]

L.sort(key = lambda x:x[len(x)-1])
print("Using lambda function : " ,L)

Using lambda function :  [(2, 0), (7, 1), (1, 1), (4, 5, 6, 3, 2), (1, 1, 2, 7), (6, 8, 9)]

In [5]:
# List #2
# Enter your code here, printing relevant answers to console:
L = [(10, 50), (1,2.5),(100,11,120),(1,2,3,5.5),(0,0.0),(1,1.0),(1,1)]

L.sort(key = lambda x:x[len(x)-1])
print("Using lambda function : " ,L)

Using lambda function :  [(0, 0.0), (1, 1.0), (1, 1), (1, 2.5), (1, 2, 3, 5.5), (10, 50), (100, 11, 120)]

---
#### ( 2a ) Given the grades of 21 students in a class, write a program which will print to console:
- The maximum grade <b>and</b> the student(s) who recieved it
- The minimum grade <b>and</b> the student(s) who recieved it
- The average (mean) grade for the entire class


##### [0.5 point]

In [6]:
# Enter your code here, printing relevant answers to console:

grades = [['Gary', 99],
          ['Albert', 98],
          ['Tina', 78],
          ['Ash', 92],
          ['Harsh', 93],
          ['Dmitri', 72],
          ['Geeta', 70],
          ['Tao', 75],
          ['Zhang', 100],
          ['Miguel', 99],
          ['Ashley', 80],
          ['Marta', 92],
          ['Jackson', 90],
          ['Freddy', 85],
          ['Li', 68],
          ['Albert', 75],
          ['Watson', 100],
          ['Juan', 99],
          ['Irina', 92],
          ['Nikhil', 91],
          ['Fred', 97],]

score = [ scores for (name, scores) in grades]
max_score = max(score)
min_score = min(score)
avg_score = sum(score)/len(score)
max_students = []
min_students = []

for i,grade in enumerate(score):
  if grade == max_score:
    max_students.append(grades[i])

  elif grade == min_score:
    min_students.append(grades[i])

print("Max score students: ")
for i in range(len(max_students)):
  print("Student Name -", max_students[i][0], ", Grade =",max_students[i][1])

print("Min score students: ")
for i in range(len(min_students)):
  print("Student Name -", min_students[i][0], ", Grade = ",min_students[i][1])

print("Average score = ",avg_score)

Max score students:
Student Name - Zhang , Grade = 100
Student Name - Watson , Grade = 100
Min score students:
Student Name - Li , Grade =  68
Average score =  87.85714285714286

 ----

#### ( 2b )  Given the same grades as the previous question 2a, write a program which will print to console:
- The median grade and the student who recieved it
- For a refresher on what the Median is, please see here: https://www.mathsisfun.com/median.html

<b>NOTE:</b> Since this list has an odd number of entries, there will be 1 student who falls directly in the middle of the sorted list. There is no need to solve for a tie-break (i.e. averaging among two middle values).


##### [0.5 point]

In [7]:
# Enter your code here, printing relevant answers to console:

grades = [['Gary', 99],
          ['Albert', 98],
          ['Tina', 78],
          ['Ash', 92],
          ['Harsh', 93],
          ['Dmitri', 72],
          ['Geeta', 70],
          ['Tao', 75],
          ['Zhang', 100],
          ['Miguel', 99],
          ['Ashley', 80],
          ['Marta', 92],
          ['Jackson', 90],
          ['Freddy', 85],
          ['Li', 68],
          ['Albert', 75],
          ['Watson', 100],
          ['Juan', 99],
          ['Irina', 92],
          ['Nikhil', 91],
          ['Fred', 97],]


score = [ score for (name, score) in grades]
median_students = []


#Using statistics package :
import statistics as s
median_score = s.median(score)

for i,grade in enumerate(score):
  if grade == median_score:
    median_students.append(grades[i])

print("Median score students: ")
for i in range(len(median_students)):
  print("Student Name -", median_students[i][0], ", Grade =",median_students[i][1])
print("\n")

# Calculating median manually.
score.sort()
median_score = 0

if len(score)%2 != 0 :
  median_score = score[int((len(score)+1)/2)]

print("Median score students by manual calculation: ")
for i in range(len(grades)):
  if grades[i][1] == median_score:
    print("Student Name -", grades[i][0], ", Grade =",grades[i][1])

Median score students:
Student Name - Ash , Grade = 92
Student Name - Marta , Grade = 92
Student Name - Irina , Grade = 92


Median score students by manual calculation:
Student Name - Ash , Grade = 92
Student Name - Marta , Grade = 92
Student Name - Irina , Grade = 92

---

#### ( 3 ) Given the following dictionary of people and their ages, print the dictionary items as a <u>sorted list</u> of strings in exactly the following format:
- <i>value-key, for instance:</i>
    - '30-Harry'
    - '22-Berry'
    - ...
    - '22-Nikhil'


##### [1 point]

In [8]:
# Enter your code here, printing relevant answers to console:

age_dict = {'Harry': 30,
          'Berry': 22,
          'Tina': 25,
          'Akriti': 32,
          'Harsh': 61,
          'Ben': 47,
          'Geeta': 55,
          'Tao': 39,
          'Kelly': 27,
          'Miguel': 29,
          'Ashley': 29,
          'Marta': 33,
          'Jackson': 19,
          'Freddy': 18,
          'Lilly': 44,
          'Albert': 23,
          'Xi': 19,
          'Juan': 41,
          'Belle': 32,
          'Nikhil': 22,}

for k,v in age_dict.items():
  print(v,"-",k, sep="")

30-Harry
22-Berry
25-Tina
32-Akriti
61-Harsh
47-Ben
55-Geeta
39-Tao
27-Kelly
29-Miguel
29-Ashley
33-Marta
19-Jackson
18-Freddy
44-Lilly
23-Albert
19-Xi
41-Juan
32-Belle
22-Nikhil

#### ( 4a ) Using a loop (while or for) - write a program which generates the first 20 even squares.

- An even number is evenly divisible by 2 (i.e. with remainder 0)
- A square is a value which is yielded when it's square-root is multiplied by itself:
    - 4 is a square since it's equal to 2*2
    - 9 is a square since it's equal to 3*3
        - However, 9 is not even and should not be printed.
- Zero (0) <u>should not</u> be considered an even square
       

##### [0.5 point]

In [9]:
# Enter your code here, printing relevant answers to console:

# Using loop
n = 20
print("Using for loop")
for i in range(0, n*2+1,2):
  if i!=0:
    print(i*i, end = " ")
    if  i == n*2:
      print(" \n")

# list comprehension:
even_squares = [ i*i for i in range(41) if i%2 == 0 and i!=0]
print("Using list comprehension")
print(even_squares)

Using for loop
4 16 36 64 100 144 196 256 324 400 484 576 676 784 900 1024 1156 1296 1444 1600

Using list comprehension
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600]

#### ( 4b ) Using a list comprehension - write a program which generates the first 10 odd squares.

- An odd number is not evenly divisible by 2 (i.e. with remainder 0):
    - 4 is a square since it's equal to 2*2
    - 9 is a square since it's equal to 3*3
        - However, 4 is not odd and should not be printed.
       

##### [0.5 point]

In [20]:

# Using loop
n = 20
print("Using for loop")
for i in range(1, n*2+1,2):
    print(i*i, end = " ")
    if  i == n*2-1:
      print(" \n")

# list comprehension:
odd_squares = [ i*i for i in range(41) if i%2 != 0 and i!=0]
print("Using list comprehension")
print(odd_squares)

Using for loop
1 9 25 49 81 121 169 225 289 361 441 529 625 729 841 961 1089 1225 1369 1521

Using list comprehension
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521]

#### ( 5 ) Print the following summary statistics from the dictionary of animals in a zoe.
##### NOTE: key = specie : value = number of animals in zoe
- The number of distict types of animals (specie) (e.g. wild dog, leopard, etc.)
- The total number of animals of all types
- The average number of animals per type of animal (specie)
- The specie(s) with the most members
- The specie(s) with the least members

##### [1 point]

In [19]:
zoo_animals = {'giraffe':3,
              'elephant':8,
              'lion':6,
              'hippopotamus':2,
              'crocodile':6,
              'wild dog':10,
              'hyena':10,
              'zebra':11,
              'anaconda':31,
              'python':7,
              'kangaroo':30,
              'cheetah':3,
              'leopard':2,
               'polar bear': 1}


#Each key in a dictionary is unique. so the number of unique species is the number of elements in the dictionary.

print("Number of unique species = ", len(zoo_animals))

sum_animals = sum(zoo_animals.values())
print("Total number of animals = ", sum_animals)


# Average 
# For this question i wasnt sure what it "average" meant. As the keys are unique, the sum of the species and count = 1 , resulting in the same value for case 1.
# The first approach does not really make sense but going by the exact words of the question that is what i thought of.

# For case 2, i took the total number of() animals by species by total number of animals.
average_animals = sum(zoo_animals.values())/len(zoo_animals.items())
print("The average number of animals = ", average_animals)


for i,(k,v) in enumerate(zoo_animals.items()):
  if v == max(zoo_animals.values()) :
    print("Species with maximum number of animals = ",k,", Count = ",v)
  if v == min(zoo_animals.values()):
    print("Species with minimum number of animals = ",k,", Count = ",v) 

# If there are unique counts:
#print("Species with maximum number of animals = ",max(zoo_animals, key=lambda key: zoo_animals[key]),", Count = ",max(zoo_animals.values()))
#print("Species with minimum number of animals = ",min(zoo_animals, key=lambda key: zoo_animals[key]),", Count = ",min(zoo_animals.values()))

Number of unique species =  14
Total number of animals =  130
The average number of animals =  9.285714285714286
Species with maximum number of animals =  anaconda , Count =  31
Species with minimum number of animals =  polar bear , Count =  1